@font-face {
  font-family: ShadowOfTheDead;
  src: url("./fonts/Shadow of the Deads.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: ShadowOfTheDead;
  src: url("./fonts/Shadow of the Deads.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: ShadowOfTheDead;
  src: url("./fonts/Shadow of the Deads.ttf");
  font-weight: 700;
  font-style: normal;
}
