body {
  font-family: ShadowOfTheDead;
  font-weight: 300;
  background-image: url("./images/wow_cataclysm_worgen-wallpaper-2560x1440.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  color: white;
  margin: 0;
  overflow-y: hidden;
  height: 100vh;
}

#clock {
  text-align: left;
  font-size: 4rem;
  font-weight: 700;
  text-shadow: 3px 3px 5px rgb(255, 255, 255);
  padding-top: 1vh;
  margin-bottom: 15rem;
  margin-left: 2%;
  color: rgb(0, 0, 0);
}

.search {
  margin-top: 20px;
  margin-left: 50px;
  text-align: left;
}
.search-label {
  display: block; 
  font-weight: bold;
  color:rgb(255, 255, 255);
  text-shadow: 10px 10px 12px rgba(0, 0, 0, 0.5);
}


.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1.5rem;
  font-size: 1rem;
}

.link-container {
  border: 4px double rgb(3, 3, 3);
  border-radius: 1rem;
  padding: 0 2rem;
  background-color: rgba(0, 0, 0, 0.7);
}

h3 {
  color: rgb(241, 238, 238);
  font-size: 1.5em;
  font-weight: 700;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #848282;
  transition: color, text-shadow 0.3s ease-in;
}

a:hover {
  color: rgb(255, 255, 255);
  text-shadow: 3px 3px 5px rgb(158, 0, 0);
}

@media screen and (max-width: 965px) {
  body {
    overflow-y: scroll;
    height: 100%;
    padding-bottom: 2rem;
  }
  #clock {
    padding-top: 1rem;
    text-shadow: 4px 4px 2px rgb(0, 0, 0);
  }
  .container {
    flex-direction: column;
    padding: 0 4rem;
  }
  .link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h3 {
    margin-top: 1rem;
    margin-bottom: 0;
  }
}
